{{!-- HEADER --}}
<div style="font-size: 16px; line-height: 1.6; color: #222;">
  <div style="float: left; margin-left: 50px;">
    <img src="https://www.univem.edu.br/img/site/logo_2.png" width="70">
  </div>

  <div style="float: right;">
    {{!-- <div style="clear: both;"> --}}
    <small>
      <b>FUNDAÇÃO DE ENSINO EURÍPIDES SOARES DA ROCHA</b>
      <br />
      Mantenedora do Centro Universitário Eurípides de Marília Univem
      <br />
      Credenciado pela Portaria MEC nº 406, de 12 de Abril de 2011. DOU N° 72, Seção 1, 14/04/2011, p.39
    </small>
  </div>
</div>

<div style="clear: both;">
  <br />
  <hr>
  <br />
</div>


<div style="font-size: 16px; line-height: 1.2; color: #222; margin-left: 70px;">

  <div style="text-align: justify;">
    <p>CONTRATO DE PRESTAÇÃO DE SERVIÇOS EDUCACIONAIS DE GRADUAÇÃO NA MODALIDADE DE ENSINO A DISTÂNCIA - EAD.</p>

    <br />

    <p>
      QUALIFICAÇÃO DAS PARTES:
      <br />
      <br />
    </p>

    <p>
      CONTRATADA:
      <br />
      <br />
      <b>FUNDAÇÃO DE ENSINO EURÍPIDES SOARES DA ROCH </b>, sediada à Av. Hygino Muzzi Filho, n.º
      529, na cidade de Marília, SP, inscrita no CNPJ/MF sob o n.º 52.059.573/0001-94, Mantenedora do Centro
      Universitário Eurípides de Marília - UNIVEM.
    </p>

    <p>
      CONTRATANTE:
      <br />
      <br />
      Nome: <b>{{ nome }}</b>
      <br />
      CPF: <b>{{ cpf }}</b>
      <br />
      RG: <b>{{ rg }}</b>
      <br />
      E-mail: <b>{{ email }}</b>
      <br />
      Telefone: <b>{{ fone }}</b>
      <br />
      Endereço: <b>{{ logradouro }}</b>
      <br />
      Complemento: <b>{{ complemento }}</b>
      <br />
      Bairro: <b>{{ bairro }}</b>
      <br />
      Cidade: <b>{{ cidade }}</b>
      <br />
      Estado: <b>{{ uf }}</b>
      <br />
      CEP: <b>{{ cep }}</b>
    </p>

    <p>
      CLÁUSULA PRIMEIRA - OBJETO
      <br />
      <br />
      1.1 - A CONTRATADA se obriga a ministrar o curso de <b></b>, a ser desenvolvido integralmente à
      distância, de acordo com a sua característica e peculiaridade, conforme o respectivo projeto pedagógico do
      curso.
    </p>

    <p>
      CLÁUSULA SEGUNDA - DOS DIREITOS E DEVERES DA CONTRATADA
      <br />
      <br />
      2.1 - Ministrar aulas por meio de disponibilização de acesso ao Ambiente Virtual de Aprendizagem mediante
      concessão de login e senha para uso pessoal e intransferível, gerados pela CONTRATADA, após a confirmação
      do pagamento da matrícula;
      <br />
      <br />
      2.2 - Responsabilizar-se pelo planejamento e pela prestação dos serviços que garantam o processo de
      ensino-aprendizagem, além de zelar pela qualidade e cumprimento das metodologias de educação a distância;
      <br />
      <br />
      2.3 - Condicionar a formação de turmas ao número de alunos que as tornem economicamente viáveis e, não
      sendo possível, comunicar o cancelamento do curso ao CONTRATADO com antecedência de dois dias da data de
      início, devolvendo-se os valores recebidos;
      <br />
      <br />
      2.4 - Prestar os serviços taxados mediante a apresentação digital de comprovante de pagamento ao setor
      competente. Recolhida a taxa, a devolução parcial ou total somente ocorrerá quando o serviço não for
      prestado pela CONTRATADA;
      <br />
      <br />
      2.5 - Garantir em seu pólo de apoio presencial, sediado na CONTRATADA, condições plenamente satisfatórias
      para o acesso ao Ambiente Virtual de Aprendizagem e cumprimento das atividades previstas no curso.
    </p>

    <p>
      CLÁUSULA TERCEIRA - DOS DIREITOS E DEVERES DO CONTRATANTE
      <br />
      <br />
      3.1 - Como contraprestação pelos serviços educacionais contratados, o CONTRATANTE pagará à CONTRATADA o
      valor de R$7.536,00 (Sete mil quinhentos e trinta e seis reais) em 24 parcelas, para o caso de ingresso
      nos cursos Superiores de Tecnologia com duração de 24 meses; o valor de R$9.420,00 (Nove mil quatrocentos
      e vinte reais) em 30 parcelas, para o caso de ingresso nos cursos Superiores de Tecnologia com duração de
      30 meses; o valor de R$11.304,00 (Onze mil trezentos e quatro reais) em 36 parcelas, para o caso de
      ingresso nos cursos Superiores de Tecnologia com duração de 36 meses; ou ainda o valor de R$ 15.072.,00
      (Quinze mil e setenta e dois reais) em 48 parcelas, para o caso de ingresso em cursos de Licenciatura e
      Bacharelado com duração de 48 meses. Para todos os casos, a primeira parcela é considerada matrícula, e as
      demais parcelas até o 5º dia útil de cada mês, assim considerado o dia de sábado, por meio de boleto
      bancário, débito em conta ou depósito em conta identificado;
      <br />
      <br />
      3.2 - Submeter-se ao Regimento Geral da Contratada, às normas aplicáveis à área de ensino e, ainda, a
      outras fontes legais, desde que regulem supletivamente o contrato;
      <br />
      <br />
      3.3 - Possuir equipamento e softwares com os requisitos mínimos estabelecidos no Regulamento dos Cursos
      de Graduação na Modalidade de Ensino à Distância da CONTRATADA, acesso à internet com velocidade mínima de
      01 MB, e-mail e telefone para contato;
      <br />
      <br />
      3.4 - Responder à CONTRATADA, no prazo estabelecido, a todas as comunicações recebidas;
      <br />
      <br />
      3.5 - Manter os dados cadastrais atualizados com informações verídicas e a confidencialidade de sua senha
      e login, vedados quaisquer compartilhamentos;
      <br />
      <br />
      3.6 - Abster-se de reproduzir o material do curso, sob qualquer mídia, sob pena de responder, civil e
      criminalmente, perante a CONTRATADA e terceiros, nos termos da Lei 9.609/98, por violação da propriedade
      intelectual, restringindo-se ao uso nos termos contratuais;
      <br />
      <br />
      3.7 - Observar padrões de conduta, segundo o marco regulatório da internet, abstendo-se de violar a
      privacidade de outros usuários, permitir o acesso de terceiros ao ambiente virtual de ensino, utilizar
      técnica de invasão ao sítio que viole a segurança do ambiente de ensino e sítios afins, destruir
      conscientemente arquivos ou programas do ambiente de ensino e sítios afins, utilizar os nomes e emails dos
      participantes do curso para fins comerciais, enviar mensagens obscenas e contrárias aos patrões éticos;
      <br />
      <br />
      3.8 - Apresentar digitalmente à CONTRATADA: uma cópia do Histórico Escolar de Ensino Médio, uma cópia do
      Certificado de Conclusão de Conclusão de Ensino Médio, a conclusão do Ensino Médio deve ocorrer,
      obrigatoriamente, antes da matrícula no Ensino Superior, de acordo com o inciso II do artigo 44 da Lei
      9.394/1996, cópia dos documentos pessoais RG - CPF, Certidão de Casamento ou Nascimento, Documentos
      inerentes à Revalidação de Estudos realizados no exterior, o aluno menor de idade deve anexar fotocópia do
      CPF e RG do responsável. A confirmação da matrícula se caracterizará com o pagamento da primeira parcela
      contratual.
      <br />
      <br />
      3.9 - Observar o limite de faltas de até 25% (vinte e cinco por cento), verificadas pela participação ou
      abstenção nas atividades previstas para o curso.
    </p>

    <p>
      CLÁUSULA QUARTA - DESCONTO DE PONTUALIDADE E OUTRAS AVENÇAS
      4.1 - Os pagamentos efetuados até a data do vencimento terão desconto de 20% (vinte por cento) sobre o
      valor da mensalidade fixada em R$ 314,00 (Trezentos e quatorze reais).
      <br />
      <br />
      4.2 - Em caso de mora o CONTRATANTE deixará de gozar o benefício concedido a título de desconto
      pontualidade sobre a respectiva parcela.
    </p>

    <p>
      CLÁUSULA - QUINTA MORA
      <br />
      <br />
      5.1 - Em caso de falta de pagamento na data do vencimento, o valor da mensalidade será acrescido de multa
      de 2% (dois por cento), correção monetária e juros moratórios de 1% ao mês, sem prejuízo do pagamento, a
      título de ressarcimento, de despesas ocorridas com a cobrança administrativa.
      <br />
      <br />
      5.2 - A CONTRATADA poderá optar pela emissão de Letra de Câmbio ou sacar duplicata de prestação de
      serviços educacionais, conforme art. 20 da Lei 5.474/68, no valor do débito atualizado, na forma do item
      precedente, com os quais o CONTRATANTE confere pleno aceite.
      <br />
      <br />
      5.3 - Decorrido o prazo de 30 dias da constituição do CONTRATANTE em mora, após enviar comunicação no
      endereço constante de seu cadastro acadêmico ou endereço eletrônico, a CONTRATADA poderá incluir seu nome
      no SPC Serviço de Proteção ao Crédito, sujeito à consulta por terceiros.
    </p>

    <p>
      CLÁUSULA SEXTA - DO INADIMPLEMENTO
      <br />
      <br />
      6.1 - Caso ocorra o inadimplemento contratual, as partes estabelecem o valor da obrigação principal como
      quantia devida, referente à cláusula penal compensatória.
      <br />
      <br />
      6.2 - Caso seja necessária a execução do presente contrato, corre por conta daquele que der causa à
      execução por via judicial ou extrajudicial todas as despesas, além do principal, juros de mora de 1% (um
      por cento) ao mês, cláusula penal moratória, cláusula penal compensatória e honorários advocatícios desde
      já fixados em 10% (dez por cento).
    </p>

    <p>
      CLÁUSULA SÉTIMA - FORMA DE PAGAMENTO
      <br />
      <br />
      7.1 - Eventual recebimento tardio do boleto bancário, ou até mesmo o seu não recebimento, não desobrigará
      o CONTRATANTE do pagamento da mensalidade na data de seu vencimento. Neste caso, a quitação do débito deve
      ser feita na rede bancária autorizada até a data do vencimento, mediante impressão da segunda via do
      boleto, por meio do site <a href="http://www.univem.edu.br" target="_blank">www.univem.edu.br</a>.
    </p>

    <p>
      CLÁUSULA OITAVA - FORMAS DE EXTINÇÃO DO CONTRATO
      <br />
      <br />
      8.1 - O CONTRATANTE poderá pleitear a resilição contratual nas hipóteses de desistência normal, assim
      entendidos os trancamentos ou cancelamentos.
      <br />
      <br />
      8.2 - A CONTRATADA, por sua vez, reserva-se o direito de requerer a extinção do presente contrato
      ocorrendo a mora contratual por parte do CONTRATANTE e infração aos termos do Regimento Geral da
      Instituição.
      <br />
      <br />
      8.3 - Em qualquer dos casos, o CONTRATANTE fica obrigado a saldar o valor da parcela do mês em que
      ocorrer o evento, além de outros débitos eventualmente existentes até a apresentação da desistência
      formal. Nesta hipótese fica excluída a aplicação da multa contratual prevista neste instrumento.
    </p>

    <p>
      CLÁUSULA NONA - VIGÊNCIA
      <br />
      <br />
      Este contrato vige a partir da data de sua assinatura e vigorará até ao final do curso.
    </p>

    <p>
      CLÁUSULA DÉCIMA - FORO DE ELEIÇÃO
      <br />
      <br />
      As partes elegem o Foro da cidade de Marília para dirimir quaisquer questões resultantes do presente
      instrumento.
    </p>

    <p>
      E, por estarem justas e contratadas, assinam o presente instrumento, em duas vias de igual teor e forma,
      na presença das testemunhas subscritas, a fim de que se produzam os efeitos legais. Na hipótese de o
      contrato ser firmado por meio eletrônico, passa a ter eficácia com o aceite eletrônico do CONTRATANTE.
    </p>

    <br />

    <p style="text-align: center;">
      Marília _____ de _____________ de 2020.
    </p>

    <br />

    <div>
      <div style="float: left;">
        <p style="text-align: center;">
          ___________________________________
          <br />
          Aluno/Contratante
        </p>
      </div>

      <div style="float: right;">
        <p style="text-align: center;">
          ___________________________________
          <br />
          Representante Legal
        </p>
      </div>
    </div>

    <p style="text-align: center; clear: both;">
      <b>Fundação de Ensino Eurípides Soares da Roch</b>
    </p>

    <br />
    <br />
    <br />

    <div>
      <div style="float: left;">
        <p style="text-align: center;">
          Testemunha
        </p>
      </div>

      <div style="float: right;">
        <p style="text-align: center;">
          Testemunha
        </p>
      </div>
    </div>

    {{!-- QUEBRA DE PÁGINA --}}
    <div style="page-break-before: always;"> </div>

    <p>
      <b>
        ADITVO AO CONTRATO DE PRESTAÇÃO DE SERVIÇOS EDUCACIONAIS DE GRADUAÇÃO NA MODALIADE DE ENSINO A
        DISTÂNCIA – EAD.
      </b>
    </p>

    <p>
      <b>CONTRATADA: FUNDAÇÃO DE ENSINO EURÍPEDES SOARES DA ROCHA</b>, inscrita no CNPJ 52.059.573/0001-94,
      mantenedora do <b>CENTRO UNIVERSITÁRIO EURÍPEDES DE MARÍLIA – UNIVEM</b>, com endereço na Avenida Hygino
      Muzzi Filho, nº 529, Campus Universitário, Marília/SP, representada neste ato pelo seu presidente.
    </p>

    <p>
      <b>CONTRATANTE:</b>
      <br />
      <br />
      Nome: <b>{{ nome }}</b>
      <br />
      CPF: <b>{{ cpf }}</b>
      <br />
      RG: <b>{{ rg }}</b>
      <br />
      E-mail: <b>{{ email }}</b>
      <br />
      Telefone: <b>{{ fone }}</b>
      <br />
      Endereço: <b>{{ logradouro }}</b>
      <br />
      Complemento: <b>{{ complemento }}</b>
      <br />
      Bairro: <b>{{ bairro }}</b>
      <br />
      Cidade: <b>{{ cidade }}</b>
      <br />
      Estado: <b>{{ uf }}</b>
      <br />
      CEP: <b>{{ cep }}</b>
    </p>

    <p>
      <b><u>CLÁUSULA PRIMEIRA</u> – Desconto de pontualidade e outras avenças</b>
      <br />
      <br />
      1.1 – Os pagamentos efetuados até as datas do vencimento terão descontos das seguintes formas:
      <br />
      <br />
      1.1.1 – Alunos com convênios empresariais e público em geral a importância de R$ 59,00 (cinquenta e nove)
      reais, na primeira mensalidade.
      <br />
      <br />
      1.1.2 – Alunos com convênios empresariais, a partir da 2ª (segunda) parcela, até o final do contrato, a
      importância de R$ 143,44 (cento e quarenta e três reais e quarenta e quatro centavos).
      <br />
      <br />
      1.1.3 - Alunos do público em geral, a partir da 2ª (segunda) parcela, até o final do contrato, a
      importância de R$ 179,29 (cento e setenta e nove reais e vinte e nove centavos).
    </p>

    <p>
      <b><u>CLÁUSULA SEGUNDA</u> – Das demais cláusulas do contrato</b>
      <br />
      <br />
      2.1 – Todas as demais cláusulas do contrato de prestação de serviços educacionais de graduação na
      modalidade EAD firmado entre as partes permanecem inalterados e em pleno vigor entre as partes.
      <br />
      <br />
      E por estarem justas e contratadas assinam o presente aditivo em 2 (duas) vias de igual teor e forma, na
      presença as testemunhas subscritas, para o fim de que sejam produzidos os efeitos legais.
      <br />
      <br />
      Em caso de assinatura eletrônica este aditivo passa a ter eficácia com o aceite eletrônico do(a)
      CONTRATANTE.
    </p>

    <br />

    <p style="text-align: center;">
      Marília _____ de _____________ de 2020.
    </p>

    <br />

    <div>
      <div style="float: left;">
        <p style="text-align: center;">
          ___________________________________
          <br />
          Aluno/Contratante
        </p>
      </div>

      <div style="float: right;">
        <p style="text-align: center;">
          ___________________________________
          <br />
          Representante Legal
        </p>
      </div>
    </div>

    <p style="text-align: center; clear: both;">
      <b>Fundação de Ensino Eurípides Soares da Roch</b>
    </p>

    <br />
    <br />
    <br />

    <div>
      <div style="float: left;">
        <p style="text-align: center;">
          Testemunha
        </p>
      </div>

      <div style="float: right;">
        <p style="text-align: center;">
          Testemunha
        </p>
      </div>
    </div>

  </div>
</div>
